USE [master]
GO
/****** Object:  Database [AppleStoreDB]    Script Date: 6/13/2026 12:02:49 PM ******/
CREATE DATABASE [AppleStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppleStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AppleStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppleStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AppleStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppleStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppleStoreDB]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NULL,
	[Gia] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaDM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/13/2026 12:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[Quyen] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'iPhone')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'iPad')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (3, N'MacBook')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (7, 7, CAST(N'2026-06-12T17:19:35.940' AS DateTime), CAST(18990000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (8, 8, CAST(N'2026-06-12T17:19:35.940' AS DateTime), CAST(28990000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (9, 9, CAST(N'2026-06-12T17:19:35.940' AS DateTime), CAST(10990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [MatKhau], [DiaChi], [SoDienThoai]) VALUES (7, N'LIÊU HOÀNG TRÍ', N'hoangtri@gmail.com', N'123456', N'BẾN TRE', N'0909999999')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [MatKhau], [DiaChi], [SoDienThoai]) VALUES (8, N'TRẦN VĂN A', N'tranvana@gmail.com', N'123456', N'BẾN TRE', N'0909999999')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [MatKhau], [DiaChi], [SoDienThoai]) VALUES (9, N'NGUYỄN THỊ B', N'nguyenthib@gmail.com', N'123456', N'BẾN TRE', N'0909999999')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuong], [HinhAnh], [MoTa], [MaDM]) VALUES (2, N'iPad Air M3 2025', CAST(18990000.00 AS Decimal(18, 2)), 15, N'ipadair.jpg', N'Máy tính bảng Apple', 2)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuong], [HinhAnh], [MoTa], [MaDM]) VALUES (3, N'MacBook Air M4', CAST(28990000.00 AS Decimal(18, 2)), 8, N'macbookm4.jpg', N'Laptop Apple', 3)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuong], [HinhAnh], [MoTa], [MaDM]) VALUES (4, N'Apple Watch Series 10', CAST(10990000.00 AS Decimal(18, 2)), 20, N'watch10.jpg', N'Đồng hồ thông minh Apple', 4)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen]) VALUES (1, N'admin', N'123456', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen]) VALUES (2, N'user1', N'123456', N'User')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
USE [master]
GO
